.spacer {
    flex: 1 1 auto;
}
  
.data-table-container {
    margin: 4%;
    width: 90%;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.data-table-container table {
    width: 100%;
}

.mat-header-cell, .mat-cell {
    min-width: 100px;
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
    overflow: hidden;
    font-size: 10px;
    min-height: 12px;
}
