<div class="data-table-container">
        <mat-toolbar color="primary">
            <span>Gestionnaire des utilisateurs</span>
            <span class="spacer"></span>
            <button (click)="this.refresh()" mat-button matSuffix matTooltip="Actualiser" matTooltipPosition = 'below'>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar>
    
        <table mat-table [dataSource]="dataSource">
        
            <!-- Nom -->
            <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef> Nom </th>
            <td mat-cell *matCellDef="let element">{{element.lastname}}</td>
            </ng-container>
        
            <!-- Prénom -->
            <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef> Prénom </th>
            <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
            </ng-container>
        
            <!-- Email -->
            <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
        
            <!-- Role -->
            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef> Role </th>
                <td mat-cell *matCellDef="let element"> {{element.role}} </td>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="accent" (click)="addNewUser()" matTooltip="Ajouter un nouvel utilisateur">
                        <mat-icon>add</mat-icon>
                    </button>
                </th>
                <td mat-cell *matCellDef="let row; let i=index;"> 
                    <button mat-icon-button color="accent" matTooltip="Editer" (click)="updateUser(i, row.id, row.lastname, row.firstname, row.email, row.role)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>

                    <button mat-icon-button color="accent" matTooltip="Supprimer" (click)="deleteUser(i, row.id)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
        
        <mat-paginator 
            [pageSizeOptions]="[5, 10, 20]" 
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        
    </div>
    