@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($mat-red, 600);
$accent: mat-palette($mat-gray, 900);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

