.grid-container {
    margin: 15px;
}

.parking-slots {
    margin-top: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.filter-input {
    width: 30%;
    font-size: 18px;
}

.spacer {
    flex: 1 1 auto;
}

.parking-slots table {
    width: 100%;
}

.mat-header-cell, .mat-cell {
    min-width: 100px;
    text-align: center;
    border: 1px solid #CCC;
    padding: 0 !important;
    overflow: hidden;
    font-size: 10px;
    min-height: 12px;
}
