<div class="grid-container">
    <mat-card class="my-parking" *ngIf="this.hasParking">
        <mat-list>
            <mat-list-item mat-subheader>
                Mon parking: Emplacement N°{{this.currentParking.number}}, Etage {{this.currentParking.floor}}
                <button (click)="this.deleteUserParkingSlot()" mat-button matSuffix matTooltip="Libérer ma place" matTooltipPosition = 'below'>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>

        </mat-list>
    </mat-card>

    <mat-card class="parking-slots">
        <mat-toolbar color="primary">
            <span>Emplacements disponibles du parking</span>
            <span class="spacer"></span>
            <button (click)="this.refresh()" mat-button matSuffix matTooltip="Actualiser" matTooltipPosition = 'below'>
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar>

        <mat-form-field class="filter-input">
            <mat-select placeholder="Filtre par étage" [formControl]="floorFilter">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
            </mat-select>
        </mat-form-field>
              
        <table mat-table [dataSource]="dataSource">
        
            <!-- N° emplacement -->
            <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> N° emplacement </th>
            <td mat-cell *matCellDef="let element">{{element.number}}</td>
            </ng-container>
        
            <!-- Etage -->
            <ng-container matColumnDef="floor">
            <th mat-header-cell *matHeaderCellDef> Etage </th>
            <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
            </ng-container>
        
            <!-- Occupation -->
            <ng-container matColumnDef="occupied">
            <th mat-header-cell *matHeaderCellDef> Occupation </th>
            <td mat-cell *matCellDef="let element"> {{element.occupied == 0 ? 'Disponible' : 'Occupé'}} </td>
            </ng-container>

            <!-- action -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    Action
                </th>
                <td mat-cell *matCellDef="let row; let i=index;"> 
                    <button mat-flat-button color="accent" (click)="selectParkingSlot(row.number, row.floor)">
                        Sélectionner
                    </button>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
        </table>
            
        <mat-paginator 
            [pageSizeOptions]="[5, 10, 20]" 
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </mat-card>

</div>
