mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
}

.full-width-input {
    width: 100%;
    margin-right: 12px;
}

.mat-raised-button {
    border-radius: 12px;
}

.mat-raised-button:disabled {
    border-radius: 12px;
    cursor: not-allowed;
}

.mat-list-item {
    margin-top: 14px;
}

.mat-list-item .register-button {
    position: absolute;
    right: 16px;
}