<div class="register-content">

        <mat-card>
          <mat-card-header>
            <mat-card-title>Inscription</mat-card-title>
          </mat-card-header>
      
          <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <mat-list>
                    <mat-list-item>
                        <mat-form-field class="full-width-input" color="accent">
                            <input matInput placeholder="Nom" formControlName="lastname" [errorStateMatcher]="errorMatcher">
                            <mat-error>
                            le nom est requis
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width-input" color="accent">
                            <input matInput placeholder="Prénom" formControlName="firstname" [errorStateMatcher]="errorMatcher">
                            <mat-error>
                            le prénom est requis
                            </mat-error>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-form-field class="full-width-input" color="accent">
                            <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="errorMatcher">
                            <mat-error>
                            l'email est requis
                            </mat-error>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                        <mat-form-field class="full-width-input" color="accent">
                            <input matInput type="password" placeholder="Mot de passe" formControlName="password" [errorStateMatcher]="errorMatcher">
                            <mat-error>
                            le mot de passe est requis
                            </mat-error>
                        </mat-form-field>
                    </mat-list-item>

                    <mat-list-item>
                        <button class="register-button" mat-raised-button color="primary" [disabled]="!form.valid">S'inscrire</button>
                    </mat-list-item>
                </mat-list>

            </form>
          </mat-card-content>
        </mat-card>
      
    </div>
