<mat-toolbar color="primary" class="toolbar-header">

  <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
  </button>

  <span class="main-title" routerLink="/parking-management">Parkmanager Corp</span>
  <span class="spacer"></span>
  <button (click)="this.logout()" class="logout-button" mat-flat-button color="accent">Se déconnecter</button>
  
</mat-toolbar>
  
<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav 
    #sidenav
    [mode]="(screenWidth > 800) ? 'side' : 'push'"
    opened="true" 
    class="sidenav"
    [fixedInViewport]="(screenWidth > 800) ? 'false' : 'true'">

    <mat-nav-list>

        <mat-list-item *ngIf="screenWidth <= 800">

          <mat-toolbar color="primary" class="toolbar-header">

              <button
                  type="button"
                  aria-label="Toggle sidenav"
                  mat-icon-button
                  (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
              </button>
              <span routerLink="/parking-management">Parkmanager Corp</span>
      
          </mat-toolbar>

        </mat-list-item>

        <div class="render-list" routerLink="/parking-management"><mat-list-item><mat-icon class="white-icon">home</mat-icon><span class="nav-element">Mon emplacement</span></mat-list-item></div>
        <mat-divider></mat-divider>

        <div class="render-list" *ngIf="(this.userRole == 'admin')" routerLink="/parking-management/manage-parking-slots"><mat-list-item><mat-icon class="white-icon">directions_car</mat-icon><span class="nav-element">Gestion du parking</span></mat-list-item></div>
        <mat-divider></mat-divider>

        <div class="render-list" *ngIf="(this.userRole == 'admin')" routerLink="/users-management/manage-users"><mat-list-item><mat-icon class="white-icon">supervisor_account</mat-icon><span class="nav-element">Gestion des utilisateurs</span></mat-list-item></div>
        <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
  