.mat-toolbar {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main-title{
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    flex-direction: row;
}

.logout-button {
    margin-left: 12px;
}

.sidenav-container {
    position: fixed;
    top: 56px;  
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav {
    display: flex;
    justify-content: center;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
    background-color: #4f4f4f;
}

.mat-divider {
    border-top-color: whitesmoke;
}

mat-expansion-panel {
    background-color: #4f4f4f;
}

::ng-deep .mat-expansion-indicator:after {
    color: white;
}

.render-list :hover {
    background-color: whitesmoke !important;
    color: black !important;
}

.render-list :hover span {
    background-color: whitesmoke !important;
    color: black !important;
}

.render-list :hover .white-icon {
    background-color: whitesmoke !important;
    color: black !important;
}

mat-list-item .nav-element {
    margin-left: 10px;
    color: white;
    text-align: left;
    font-size: 12px;
}

.white-icon {
    color: white;
}
