<div class="container">
    <h3 mat-dialog-title>Ajouter un nouvel emplacement de parking</h3>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-list>
            <mat-list-item>
                <mat-form-field class="full-width-input" color="accent">
                    <mat-select placeholder="N° emplacement" formControlName="number">
                        <mat-option *ngFor="let location of this.locations" [value]="location">
                            {{location}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        le N° emplacement est requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input" color="accent">
                    <mat-select placeholder="N° étage" formControlName="floor">
                        <mat-option *ngFor="let floor of this.floors" [value]="floor">
                            {{floor}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        le N° etage est requis
                    </mat-error>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item class="dialog-buttons">
                <span class="spacer"></span>
                <button mat-raised-button color="primary" [disabled]="!form.valid">Ajouter</button>
                <button class="cancel_button" mat-raised-button color="primary">Annuler</button>
            </mat-list-item>
        </mat-list>

    </form>
</div>
