<div class="container">
    <h3 mat-dialog-title>Mettre à jour les informations utilisateur</h3>
    
    <form [formGroup]="form">
        <mat-list>

            <mat-list-item>
                <mat-form-field class="full-width-input" color="accent">
                    <input matInput placeholder="Nom" formControlName="lastname" [errorStateMatcher]="errorMatcher">
                    <mat-error>
                        le nom est requis
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width-input" color="accent">
                    <input matInput placeholder="Prénom" formControlName="firstname" [errorStateMatcher]="errorMatcher">
                    <mat-error>
                        le prénom est requis
                    </mat-error>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field class="full-width-input" color="accent">
                    <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="errorMatcher">
                    <mat-error>
                    veuillez entrer un email valide
                    </mat-error>
                </mat-form-field>
            </mat-list-item>

            <mat-list-item>
                <mat-form-field class="full-width-input" color="accent">
                    <mat-select placeholder="Rôle" formControlName="role">
                        <mat-option value="user">
                            user
                        </mat-option>
                        <mat-option value="admin">
                            admin
                        </mat-option>
                    </mat-select>
                    <mat-error>
                        le rôle est requis
                    </mat-error>
                </mat-form-field>
            </mat-list-item>

        </mat-list>

    </form>

    <mat-list>
        <mat-list-item class="dialog-buttons">
            <span class="spacer"></span>
            <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Mettre à jour</button>
            <button class="cancel_button" (click)="onCancel()" mat-raised-button color="accent">Annuler</button>
        </mat-list-item>
    </mat-list>

</div>
        
    