<h2 mat-dialog-title>Confirmation</h2>

<mat-dialog-content>
    <p>Etes-vous sûr ?</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()" cdkFocusInitial>Annuler</button>
    <button class="mat-raised-button mat-primary"(click)="confirm()">OK</button>
</mat-dialog-actions>
