<div class="signin-content">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Connexion</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
  
            <mat-form-field class="full-width-input" color="accent">
                <input matInput placeholder="Email" formControlName="email" [errorStateMatcher]="errorMatcher">
                <mat-error>
                veuillez entrer un email valide
                </mat-error>
            </mat-form-field>
  
            <mat-form-field class="full-width-input" color="accent">
                <input matInput type="password" placeholder="Mot de passe" formControlName="password" [errorStateMatcher]="errorMatcher">
                <mat-error>
                le mot de passe est requis
                </mat-error>
            </mat-form-field>
  
            <button class="connect-button" mat-raised-button color="primary" [disabled]="!form.valid">Se connecter</button>
            <button 
                class="register-button" 
                mat-raised-button color="accent"
                (click)="this.router.navigate(['/auth/register'])">
                S'inscrire
            </button>
  
        </form>
      </mat-card-content>
    </mat-card>
  
</div>