mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
}

.full-width-input {
    width: 100%;
}

.mat-raised-button {
    border-radius: 12px;
}

.mat-raised-button:disabled {
    border-radius: 12px;
    cursor: not-allowed;
}

.register-button {
    margin-left: 12px;
}
