.full-width-input {
    width: 100%;
    margin: 12px;
}

.spacer {
    flex: 1 1 auto;
}

.mat-raised-button:disabled {
    cursor: not-allowed;
}

.dialog-buttons {
    margin-top: 18px;
}

.cancel_button {
    margin-left: 12px;
}
