<div class="data-table-container">
    <mat-toolbar color="primary">
        <span>Gestionnaire des emplacements du parking</span>
        <span class="spacer"></span>
        <button (click)="this.refresh()" mat-button matSuffix matTooltip="Actualiser" matTooltipPosition = 'below'>
            <mat-icon>refresh</mat-icon>
        </button>
        <button (click)="this.addNewSlot()" mat-flat-button matSuffix color="accent" matTooltip="Ajouter un nouvel emplacement" matTooltipPosition = 'below'>
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <table mat-table [dataSource]="dataSource">
    
        <!-- N° emplacement -->
        <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> N° emplacement </th>
        <td mat-cell *matCellDef="let element">{{element.number}}</td>
        </ng-container>
    
        <!-- Etage -->
        <ng-container matColumnDef="floor">
        <th mat-header-cell *matHeaderCellDef> Etage </th>
        <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
        </ng-container>
    
        <!-- Occupation -->
        <ng-container matColumnDef="occupied">
        <th mat-header-cell *matHeaderCellDef> Occupation </th>
        <td mat-cell *matCellDef="let element"> {{element.occupied == 0 ? 'Disponible' : 'Occupé'}} </td>
        </ng-container>
    
        <!-- Personne -->
        <ng-container matColumnDef="userid">
            <th mat-header-cell *matHeaderCellDef> Personne ID </th>
            <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
    
    <mat-paginator 
        [pageSizeOptions]="[5, 10, 20]" 
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
    
</div>
